body
{
    background: url("chambre.jpg");
}

#image
{
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px;
}

#header
{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: darkslategrey;
    color: white;
}

#name
{
    letter-spacing: 0.5em;
    margin-top: 20px;
}

#web
{
    letter-spacing: 0.2em;
    margin-top: 30px;
    margin-left: 140px;
}

#underline
{
    width: 484px;
    height: 10px;
    background-color: white;
    margin-top: 20px;
}

#formation
{
    background:gray;
}

#form
{
    margin: 10px 20px 10px;
    font-size: 30px;
}


#diangeu
{
    margin: 10px 20px 10px;
}

#ugb
{
    font-size: 25px;
    font-style:italic;
}

label
{
    padding-right: 10px;
    font-size: 1rem;
}
